.cart {
    cursor: pointer;
}
.cart-img {
    position: absolute;
    width: 40px;
    bottom: -7px;
}

.carrito {
    padding-top: 4rem;
    min-width: 40vw;
    min-height: 30em;

}
.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 10;
    background-color: #000;
    border-radius: 50%;
    left: 21px;
    color: $lightColor;
}

.show-cart {
    width: 100%;
    
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border: 2px solid #8f8f8f;
    border-radius: .3rem;
    overflow: hidden;
    background-color: $lightColor;
    }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s .3s;
    --transform: translateY(-100vh);
    --transition: transform .2s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .2s .2s;
}

.modal__container {
    position: relative;
    z-index: 10;
    width: 90%;
    max-width: 600px;
    height: 100vh;
    background-color: #fff;
    transform: var(--transform);
    transition: var(--transition);
    overflow: auto;
    
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.modal__text {
    font-size: 1.3rem;
    margin: 0;
}
.modal__gif {
    width: 5rem;
    height: 5rem;
}
.modal__button {
    background-color: $hoverColor;
    color: $lightColor;
    padding: 0.6rem;
    border-radius: .3rem;
    border: none;
}
.modal__button--mod {
    background-color: rgb(230, 230, 230);
    padding: .5rem;
    margin-right: .5rem;
    color: #000;
    
}
.modal__close {
    position: absolute;
    color: #000;
    top:0;
    right: 0;
    padding: 1rem;
    font-size: 2rem;
    &:hover {
        color: $hoverColor;
    }
}

.cart-buttons {
    display: flex;
    justify-content: center;
}
.cart-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
}
.borrar-producto {
    color: #000;
    font-size: 1rem;
}
.cart-status {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.cart-container-mod {
    padding-right: 5rem;
    width: 3rem;
    height: 2rem;
    @media screen and (max-width: 992px) {
      padding: 0;
      margin: 1rem 0;
    }
  }

