.hero-text-container {
    position: absolute;
    z-index: 3;
}
.hero {
    @extend %flex;
}
.container-img {
    width: 100vw;
    height: 100vh   ;
    @extend %flex;
    overflow: hidden;
}
.hero-img {
    
    width: 25rem;
    height: 25rem;
    animation: pikachu 2.4s 1;
    margin-top: 20rem;
    @media (max-width:451px) {
        width: 15rem;
        height: 15rem;
      }
    
}
.hero-title {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    @media (min-width:782px) and (max-width:1024px) { 
      font-size: 2rem;
    }
    @media screen and (max-width:992px) {
      font-size: 1.5rem;
    }
  }
@keyframes pikachu {
    0% {
        transform: translateY(-30vh) translateX(150vw) rotate(-130deg) ;
    }
    30% {
        transform: translateX(30vw) translateY(20vh) rotate(30deg);
    }
    50% {
        transform: translateY(10px) translateX(10px) rotate(0deg);
    }
    100% {
        
    }
}