.swal2-styled.swal2-confirm {
    background-color: $hoverColor !important;
   
    box-shadow: none !important;
}
.swal2-styled.swal2-cancel {
    color:$fontColor !important;
    background-color: rgb(230, 230, 230) !important;
}
.info {
    margin-top: 4rem;
    border: 1px solid $fontColor;
    border-radius: .2rem;
    text-align: center;
    min-width: 14rem;
}