@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  transition: 0.6s;
  z-index: 4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 0;
}

header.sticky {
  padding: 5px 100px;
  background-color: white;
  border-bottom: 0.5px solid #f0f0f0;
}

header.sticky .logo {
  color: black;
}

header.sticky ul li a {
  color: black;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-left: 1rem;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/*tarjeta*/
.card {
  height: 25rem;
  max-width: 14rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.img {
  border-bottom: 1px solid rgb(148, 148, 148);
  overflow: hidden;
  height: 100%;
}

.img-item {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.img-item:hover {
  transform: scale(1.2);
}

p {
  margin-top: 0.5rem;
  color: #313131;
  font-size: 0.8rem;
  height: 4rem;
}

.price-tag {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  color: #171717;
  font-weight: 700;
}

.product-price {
  margin: 1rem;
}

.free-shipping {
  color: #00a650;
  font-weight: 600;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 14px 6px rgba(125, 125, 125, 0.45);
  box-shadow: 0px 0px 14px 6px rgba(125, 125, 125, 0.45);
}

.off30 {
  display: flex;
  width: 5rem;
  background-color: rgba(225, 225, 225, 0.8588235294);
  font-size: 1rem;
  padding: 0.2rem;
  justify-content: center;
  position: absolute;
  color: #171717;
  font-weight: 700;
  border-radius: 2px;
  right: 0;
}

.add-to {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0;
  border-radius: 2px;
  padding: 0.3rem;
  font-weight: 300;
  font-size: 1.1rem;
  transition: 0.5s;
  font-weight: 600;
}

.add-to:hover {
  background-color: #ea2b2b;
  color: white;
  transition: 0.1s;
}

.cart {
  margin-right: 2rem;
  cursor: pointer;
}

.cart-img {
  position: absolute;
  width: 40px;
  bottom: -7px;
}

.cart-total {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 10;
  background-color: #000;
  border-radius: 50%;
  left: 21px;
  color: white;
  bottom: 10px;
}

.lista-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.show-cart {
  width: 100%;
  height: 100vh;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border: 2px solid #8f8f8f;
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: white;
}

.detalle-img {
  width: 6rem;
  height: 5rem;
  object-fit: cover;
  margin-left: 1rem;
}

.detalle-producto {
  display: flex;
  align-items: center;
}

.detalle-producto-mod {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

.card-title {
  display: none;
}

.card-text {
  background-color: rgba(225, 225, 225, 0.8588235294);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 15rem;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-img {
  width: 20rem;
  height: 20rem;
  animation: pikachu 2.4s 1;
  margin-top: 20rem;
}

@keyframes pikachu {
  0% {
    transform: translateY(-100px) translateX(3000px) rotate(-130deg);
  }
  30% {
    transform: translateX(350px) translateY(200px) rotate(30deg);
  }
  50% {
    transform: translateY(10px) translateX(10px) rotate(0deg);
  }
}
.hero-text-container {
  position: absolute;
  z-index: 3;
}

.carrito {
  margin: 1rem;
}

.category {
  display: flex;
  width: 100%;
  height: 24rem;
  justify-content: center;
  align-items: center;
}

.category-item {
  border: 2px solid rgba(225, 225, 225, 0.4823529412);
  border-radius: 2px;
  width: 33%;
  height: 20rem;
  background-color: white;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-text {
  margin-top: 1rem;
  background-color: rgba(225, 225, 225, 0.4823529412);
  height: 12rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.category-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(225, 225, 225, 0.4823529412);
}

.add-to-img {
  width: 3rem;
  pointer-events: none;
}

.img-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.mint {
  display: flex;
  background-color: rgba(120, 255, 86, 0.8588235294);
  font-size: 1rem;
  justify-content: center;
  position: absolute;
  color: #171717;
  font-weight: 700;
  border-radius: 2px;
  right: 0;
}

.info {
  margin-top: 4rem;
  border: 2px solid black;
  border-radius: 0.2rem;
}

.swal2-styled.swal2-confirm {
  background-color: #ea2b2b !important;
  outline: 2px solid black !important;
  box-shadow: none !important;
}

.swal2-styled.swal2-cancel {
  color: black !important;
  background-color: white !important;
  outline: 2px solid black;
}

.btn_animated {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-color: black;
  height: 8mm;
  width: 25%;
  outline-style: none !important;
  margin-left: 1cm;
  margin-top: 1cm;
}

.btn_animated.animate {
  -webkit-animation: jello-horizontal 0.5s both;
  animation: jello-horizontal 0.5s both;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.prueba {
  display: inline-block;
  width: 45px;
  height: 49px;
  background-image: url(../img/pokeballopenmin.png);
  pointer-events: none;
  transition: 0.1s;
}

.prueba2 {
  background-image: url(../img/pokeballclosedmin.png);
}

/*# sourceMappingURL=style.css.map */
