@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #ea2b2b;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  transition: 0.6s;
  z-index: 4;
}

.logo {
  width: 15rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 0;
}

header.sticky {
  padding: 5px 100px;
  background-color: white;
  border-bottom: 0.5px solid #f0f0f0;
}

header.sticky .logo {
  color: black;
}

header.sticky ul li a {
  color: black;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #000;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-left: 1rem;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

.lista-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 27rem;
  max-width: 14rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 1rem;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.img {
  border-bottom: 1px solid rgb(148, 148, 148);
  overflow: hidden;
  height: 100%;
}

.img-item {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.img-item:hover {
  transform: scale(1.2);
}

p {
  margin-top: 0.5rem;
  color: #313131;
  font-size: 0.8rem;
  height: 4rem;
}

.price-tag {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  color: #171717;
  font-weight: 700;
}

.product-price {
  margin: 1rem;
}

.free-shipping {
  color: #00a650;
  font-weight: 600;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 14px 6px rgba(125, 125, 125, 0.45);
  box-shadow: 0px 0px 14px 6px rgba(125, 125, 125, 0.45);
}

.off30 {
  display: flex;
  width: 5rem;
  background-color: rgba(225, 225, 225, 0.8588235294);
  font-size: 1rem;
  padding: 0.2rem;
  justify-content: center;
  position: absolute;
  color: #171717;
  font-weight: 700;
  border-radius: 2px;
  right: 0;
}

.add-to {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0;
  border-radius: 2px;
  padding: 0.3rem;
  font-weight: 300;
  font-size: 1.1rem;
  transition: 0.5s;
  font-weight: 600;
}

.add-to:hover {
  background-color: #ea2b2b;
  color: white;
  transition: 0.1s;
}

.add-to-img {
  width: 3rem;
  pointer-events: none;
}

.card-title {
  display: none;
}

.card-text {
  background-color: rgba(225, 225, 225, 0.8588235294);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prueba {
  display: inline-block;
  width: 45px;
  height: 49px;
  background-image: url(../img/pokeballopenmin.png);
  pointer-events: none;
  transition: 0.1s;
}

.prueba2 {
  background-image: url(../img/pokeballclosedmin.png);
}

.mint {
  position: absolute;
  padding: 0.1rem;
  border-radius: 0.1rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  right: 0;
  background-color: mediumspringgreen;
}

.hero-text-container {
  position: absolute;
  z-index: 3;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-img {
  width: 20rem;
  height: 20rem;
  animation: pikachu 2.4s 1;
  margin-top: 20rem;
}

@keyframes pikachu {
  0% {
    transform: translateY(-30vh) translateX(150vw) rotate(-130deg);
  }
  30% {
    transform: translateX(30vw) translateY(20vh) rotate(30deg);
  }
  50% {
    transform: translateY(10px) translateX(10px) rotate(0deg);
  }
}
.cart {
  margin-right: 2rem;
  cursor: pointer;
}

.cart-img {
  position: absolute;
  width: 40px;
  bottom: -7px;
}

.carrito {
  padding-top: 4rem;
  width: 100%;
  min-height: 30em;
}

.cart-total {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 10;
  background-color: #000;
  border-radius: 50%;
  left: 21px;
  color: white;
  bottom: 10px;
}

.show-cart {
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border: 2px solid #8f8f8f;
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7411764706);
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s 0.3s;
  --transform: translateY(-100vh);
  --transition: transform .2s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform .2s .2s;
}

.modal__container {
  z-index: 10;
  width: 60%;
  max-width: 600px;
  height: 40em;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  transform: var(--transform);
  transition: var(--transition);
  overflow: auto;
}

.modal__text {
  font-size: 1.3rem;
  margin: 0;
}

.modal__gif {
  width: 5rem;
  height: 5rem;
}

.modal__button {
  background-color: #ea2b2b;
  color: white;
  padding: 0.6rem;
  border-radius: 0.3rem;
  border: none;
}

.modal__button--mod {
  background-color: rgb(230, 230, 230);
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: #000;
}

.modal__close {
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
}
.modal__close:hover {
  color: #ea2b2b;
}

.cart-buttons {
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borrar-producto {
  color: #000;
  font-size: 1rem;
}

.cart-status {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.category {
  display: flex;
  width: 100%;
  height: 24rem;
  justify-content: space-evenly;
}

.category-item {
  border: 2px solid rgba(225, 225, 225, 0.4823529412);
  border-radius: 2px;
  width: 30%;
  height: 20rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/3.png);
}

.category-img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/1.png);
}

.category-title {
  font-size: 3rem;
  text-shadow: 0px 0px 4px #000000;
  font-weight: 700;
  color: #e1e1e1;
  position: absolute;
  z-index: 2;
}

.section-text {
  margin-top: 1rem;
  background-color: rgba(225, 225, 225, 0.4823529412);
  height: 12rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swal2-styled.swal2-confirm {
  background-color: #ea2b2b !important;
  box-shadow: none !important;
}

.swal2-styled.swal2-cancel {
  color: black !important;
  background-color: rgb(230, 230, 230) !important;
}

.info {
  margin-top: 4rem;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Rare {
  background-color: rgb(39, 96, 255);
}

.Holo {
  background-color: rgb(130, 48, 185);
}

.EX {
  background-color: rgb(212, 198, 44);
  color: black !important;
}

.undefined {
  display: none;
}

.Common {
  background-color: rgb(221, 227, 221);
  color: black !important;
}

#rarity {
  position: absolute;
  padding: 0.1rem;
  border-radius: 0.1rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.Uncommon {
  background-color: rgb(67, 180, 67);
}

.Promo {
  background-color: sandybrown;
}

.card-name {
  text-align: center;
  background-color: rgba(225, 225, 225, 0.8588235294);
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
